/*style*/

body {
    font-family: 'Droid Serif', serif;
    font-size: 16px; 
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 7vw;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #000000; 
}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 0px;
    margin-top: 10px; 
}

a {
    color: #FF5443;
}

a:hover {
    text-decoration: none;
}

i {
    padding: 0px 5px 0px 5px;
    color: #000000; 
}

i:hover {
    color: #FF5443; 
}

/*red: #FF5443 lighter red: #CA8B79 pale red: #E7D2CA
blue: #4591B8* lighter blue: #8B9FBB pale blue: #DCE3E8 */

/*navigation*/
.navbar {
    border-radius: 0px; 
}

.navbar-inverse {
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .7em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    padding: 15px 10px 15px 10px; 
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #4591B8;
}

.navbar-brand {
    padding-top: 10px; 
}


/*title*/
.title {
    padding: 20px 0px 40px 0px;
}

.byline {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700; 
}


/*millennial population*/
.population {
    border-top: solid 1px;
    border-color: #dddddd;
    padding: 60px 0px 60px 0px; 
}

.thick-border {
    border-top: solid 10px black;
    width: 80px; 
}

/*diversity*/
.diversity {
    border-top: solid 1px;
    border-color: #dddddd;
    padding: 60px 0px 60px 0px;
}

.hispanic {
    text-align: center;
    padding: 80px 0px 80px 0px;
    margin-bottom: 40px; 
}

.hispanic-number {
    color: #FF5443;
    display: inline;
    font-size: 2em; 
}

.hispanic-text {
    color: black;
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300; 
}

/*table*/
table {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
    background-color: #8B9FBB; 
}

/*politics*/
.politics {
    border-top: solid 1px;
    border-color: #dddddd;
    padding: 60px 15px 60px 15px; 

}

.politics-issues {
    padding-top: 60px; 
}

/*footer*/
.footer {
    background-color: #000000; 
    color: #FFFFFF; 
}

.footer-credits {
    text-align: right;
    font-size: .8em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300; 
    padding: 20px 0px 20px 0px; 
}

.footer-credits>a {
    color: #FFFFFF; 
}


