/*style*/

body {
    font-family: 'Droid Serif', serif;
    font-size: 16px; 
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 20px; 
}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 0px;
    margin-top: 10px; 
}

a {
    color: #FF5443;
}

a:hover {
    text-decoration: none;
}

i {
    padding: 0px 5px 0px 5px;
    color: #000000; 
}

i:hover {
    color: #FF5443; 
}

/*red: #FF5443 lighter red: #CA8B79 pale red: #E7D2CA
blue: #4591B8* lighter blue: #8B9FBB pale blue: #DCE3E8 */

.navigation {
    background-color: #000000; 
}

.latimes {
    padding-left: 50px; 
}

.title {
    padding: 20px 0px 40px 0px;
}

.byline {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700; 
}


/*millennial population*/
.population {
    border-top: solid 1px;
    border-color: #dddddd;
    padding: 60px 0px 60px 0px; 
}

.thick-border {
    border-top: solid 10px black;
    width: 80px; 
}

/*diversity*/
.diversity {
    border-top: solid 1px;
    border-color: #dddddd;
    padding: 60px 0px 60px 0px;
}

.hispanic {
    text-align: center;
    padding: 10px 0px 50px 0px; 
}

.hispanic-number {
    color: #FF5443;
    display: inline;
    font-size: 2em; 
}

.hispanic-text {
    color: black;
    display: inline;
    font-family: 'Ubuntu', sans-serif; 
}


/*footer*/
.footer {
    border-top: solid 1px;
    border-color: #dddddd;
    margin: 60px 0px 0px 0px;
}

.footer-credits {
    text-align: right;
    font-size: .8em;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 0px 20px 0px; 
}


